@import "tailwindcss";

:root {

  --black: #000000;
  --red: #FE1F4B;
  --white: #ffffff;


  /* Opacity variations */
  --black-5: rgba(0, 0, 0, 0.05);
  --black-50: rgba(0, 0, 0, 0.5);
  --white-20: rgba(255, 255, 255, 0.2);
}

@theme inline {
  --color-black: var(--black);
  --color-primary: var(--red);
  --color-white: var(--white);

  /* Opacity variations */
  --color-black-5: var(--black-5);
  --color-black-50: var(--black-50);
  --color-white-20: var(--white-20);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
